.stop-and-play-btn {
  display: flex;
  justify-content: center;
  position: relative;
  top: 180%;
}

.btnPS {
  border: 3px solid black;
  margin: 10px;
}

.headphones {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50px;
}
